# Dependencies
node_modules/
frontend/node_modules/
backend/vendor/

# Build and Production
build/
frontend/build/
dist/
.env
.env.local
.env.*.local

# Backend specific
backend/uploads/*
!backend/uploads/.gitkeep

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/*.log
backend/logs/*.log

# IDE and Editor
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db

# Misc
.cache/
.eslintcache
